// Image diptych (wbz-diptych)
//
// Use the class `wbz-diptych` on a `<figure>` or `<div>` to display images side-by-side. {{isProse}}
//
// Markup: cookbook/image-diptych/image-diptych.html
//
// Styleguide 10.0.1
.wbz-diptych {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: $size-xxs;
  grid-row-gap: $size-xxs;
  align-items: center;
  justify-items: center;

  > img {
    margin: 0;
  }

  > figcaption {
    grid-column: 1 / -1;
    justify-self: start;
  }
}