// Button (c-button)
//
// Buttons rely on color helpers for background and text color. The variations are simply sizes. One catch is that are buttons run small in sizes so the names aren't true to their padding and font-size assignments.
//
// -primary - Red background
// -dark - Dark background
// -round - For the most part, buttons associated with the player are rounded.
// -circle - Action icons, etc.
// -s - Small button
// -l - Large button
// -no-border - Sets border-color to transparent
// -outline - Hover effect of outline
//
// Markup: 6-components/button/button.html
//
// Styleguide 6.1.1
.c-button {
  $button-height: 2em;

  @include font-setting('primary');
  background-color: transparentize($color-white-off, 0.1);
  border: 2px solid $color-gray-light;
  border-radius: $border-radius-b;
  color: transparentize($color-gray-medium, 0.2);
  font-weight: 700;
  font-size: $size-b;
  height: $button-height;
  letter-spacing: $font-letter-spacing-b;
  line-height: calc(#{$button-height} - 2 * 2px);
  padding: 0 1em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;

  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-white-off;
    color: $color-gray-medium;
    text-decoration: none;
  }

  &.-primary {
    background-color: $color-primary;
    border-color: transparent;
    color: $color-on-primary;

    &:hover,
    &:focus {
      background-color: $color-primary-dark;
      color: $color-on-primary-dark;
    }
  }

  &.-dark {
    background-color: transparentize($color-black-pure, 0.4);
    border-color: transparent;
    color: transparentize($color-white-pure, 0.05);

    &:hover,
    &:focus {
      background-color: transparentize($color-black-pure, 0.2);
      color: transparentize($color-white-pure, 0.05);
    }
  }

  &.-circle {
    border-radius: 50%;
    width: $button-height;
    padding: 0;
  }

  &.-round {
    border-radius: $border-radius-l;
  }

  &.-xxs {
    font-size: $size-xxs;
  }

  &.-xs {
    font-size: $size-xs;
  }

  &.-s {
    font-size: $size-s;
  }

  &.-m {
    font-size: $size-m;
  }

  &.-l {
    font-size: $size-l;
  }

  &.-xxl {
    font-size: $size-xxl;
  }

  &.-no-border {
    border-color: transparent;
  }

  &__inner {
    color: $color-white-pure;
  }

  &.-outline {
    border: 2px solid currentColor;
    transition: background-color 0.3s;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      opacity: 1;

      .c-button__inner {
        color: currentColor;
      }
    }
  }
}

// Link button (c-link-button)
//
// Experimental: Sometimes, we need buttons to look like links (see Talk embed log in/log out buttons)
//
// Markup: <button class="c-link-button">Click me, I'm Irish</button>
//
// Styleguide 6.1.1
//
.c-link-button {
  @include underlined-link;
  cursor: pointer;
  line-height: normal;
}
