// Select (wbz-select)
//
// Markup: 9-form/select/index.html
//
// Styleguide 11.0.3

@use '../utils' as *;
@use '../input';

@mixin select($state: null) {
  @if ($state == null) {
    @include input.input;
    cursor: pointer;
    line-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  } @else if ($state == 'error') {
    @include input.input('error');
  }
}

@if $includeStyles {
  .wbz-select {
    select {
      @include select;
    }

    label,
    .description {
      padding: 0 input.$inputPaddingX;
    }
  }

  .wbz-select.error select {
    @include select('error');
  }
}
