// Caption (c-caption)
//
// This is a block of text, which gives context to media.
//
// Markup: 6-components/caption/caption.html
//
// Styleguide 6.0.1
.c-caption {
  @include font-setting;
  color: $color-gray-medium;
  font-size: $size-xs;
  line-height: $line-height-s;
  padding: $size-xxs 0;
}
