// Caption (c-caption)
//
// This is a block of text, which gives context to media. We generally use helper classes for text styles and use this component simply for spacing.
//
// Markup: 6-components/caption/caption.html
//
// Styleguide 6.0.1
.c-caption {
  background: $legacy-color-off-white;
  color: $legacy-color-lightish-gray;
  font-size: $size-s;
  line-height: 16px;
  padding: 7px;

  &__credit {
    font-size: $size-xxs;
    line-height: 12px;
    margin-bottom: 10px;
    text-align: right;
  }
}
