// Form
//
// Helper overrides for various utilities. V2 will use prefixes of .l-, .has-, .is-
//
// Styleguide 9.0
@use '../1-settings' as settings;

$includeStyles: true !default;

@forward 'utils' with ($includeStyles: $includeStyles);
@forward 'input';
@forward 'label';
@forward 'select';
@forward 'textarea';
@forward 'checkbox';
@forward 'radio-circle';
@forward 'radio-tab';

@if $includeStyles {
  .control-group {
    margin-top: settings.$size-xs;
    margin-bottom: settings.$size-xs;
    position: relative;
  }
}
