// Share bar (c-share-bar)
//
// Social share buttons.
//
// .c-share-bar--row - ...
// .c-share-bar--col - ...
//
// Markup: 6-components/share-bar/share-bar.html
//
// Styleguide 6.0.1

.c-share-bar {
  &--col {
    overflow: hidden;

    > .c-button {
      float: left;
      clear: both;
      margin-bottom: 0.2rem;
    }
  }
}
