@mixin fixed-table-widths($widths) {
  @for $i from 1 through length($widths) {
    $curr: nth($widths, $i);

    thead tr:first-child > th:nth-child(#{$i}),
    tbody tr:first-child > td:nth-child(#{$i}) {
      width: $curr;
    }
  }
}

// Table (c-table)
//
// Experimental: Tabular display classes. Tables should be constructed with a `<thead>` and `<tbody>`.
//
// .-striped - Zebra stripes odd rows
// .-bordered - Bordered rows
// .-cols-10-45-45 - Three-column table with col widths 10%, 45%, 45%
// .-cols-15-70-15 - Two-column table with col widths 15%, 70%, 15%
//
// Markup: 6-components/table/table.html
//
// Styleguide 6.1.5
.c-table {
  border-collapse: collapse;

  td,
  th {
    // not a standard size
    padding: 0.5rem;
  }

  &.-cols-10-45-45 {
    @include fixed-table-widths(10% 45% 45%);
    table-layout: fixed;
  }

  &.-cols-30-70 {
    @include fixed-table-widths(30% 70%);
    table-layout: fixed;
  }

  &.-cols-15-70-15 {
    @include fixed-table-widths(15% 70% 15%);
    table-layout: fixed;
  }

  &.-bordered {
    tbody > tr {
      border-top: 1px solid $color-white-off;
    }
  }

  &.-striped {
    tbody > tr:nth-child(odd) {
      // not a standard color
      background-color: #f7f7f7;
    }
  }
}
