// Layout
//
// We define layout in our structure as the way we align, arrange, and structure components on a page. **Prefix with `l-`**
//
// Styleguide 7.0.0
@import 'align';
@import 'columns';
@import 'container';
@import 'display';
@import 'width';

.l-list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -$size-tiny;

  > li {
    display: inline-block;
    padding-left: $size-tiny;
    padding-right: $size-tiny;
    
  }
}

.l-fit-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
