// Container (l-container)
//
// Experimental: Max width container, centered with margin auto. Note: Demo is best viewed in [standalone preview](/pages/layout/l-container/raw-preview.html).
//
// Markup: 7-layout/container.html
//
// Styleguide 7.0.1

@include grid( l-container );

.l-container {
  position: relative;
  
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.l-container.l-container {
  background-color: transparent;
}

.l-full {
  @include full-width;
}

@each $bp-name, $bp-value in $mq-breakpoints {
  .l-full-from-#{$bp-name} {
    @include breakpoint-min(#{$bp-name}) {
      @include full-width;
    }
  }

  .l-full-until-#{$bp-name} {
    @include breakpoint-max(#{$bp-name}) {
      @include full-width;
    }
  }
}
