// Container (l-container)
//
// Experimental: Max width container, centered with margin auto. Note: Demo is best viewed in [standalone preview](/pages/layout/l-container/raw-preview.html).
//
// Markup: 7-layout/container.html
//
// Styleguide 7.0.1
@use '../1-settings' as v;
@use '../2-tools/column-setter' as cs;

@include cs.grid(l-container);

.l-container {
  position: relative;
  
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: v.$max-width) {
    width: v.$max-width;
    max-width: 100%;
  }
}

.l-container.l-container {
  background-color: transparent;
}

.l-full {
  @include cs.full-width;
}

@each $bp-name, $bp-value in $mq-breakpoints {
  .l-full-from-#{$bp-name} {
    @include cs.breakpoint-min(#{$bp-name}) {
      @include cs.full-width;
    }
  }

  .l-full-until-#{$bp-name} {
    @include cs.breakpoint-max(#{$bp-name}) {
      @include cs.full-width;
    }
  }
}
