// Container (l-container)
//
// Max width container, centered with margin auto. Note: Demo is best viewed in [standalone preview](/pages/layout/l-container/raw-preview.html).
//
// -s - Maxed at 520px
// -m - Maxed at 650px
// -l - Maxed at 845px
// -xl - Maxed at 1080px
// -xxl - Maxed at 1300px
//
// Markup: 7-layout/container.html
//
// Styleguide 7.0.1
//
$gap: $size-b;

.l-container {
  max-width: px-to-rem($bp-default);
  padding-left: $gap;
  padding-right: $gap;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.l-gapless {
  margin-left: -$gap;
  margin-right: -$gap;
  max-width: none;
  width: calc(100% + (2 * #{$gap}));
}

@each $size-label, $value in $mq-breakpoints {
  $label: str-replace($size-label, 'bp-', '');
  
  @if $size-label != 'default' {
    .-#{$label} {
      max-width: px-to-rem($value) - (2 * $gap);
    }
  }
}
