{% if className == 'l-align-center-children' %}
<div
  style="border:2px solid black; width: 200px; height: 100px; position: relative;"
  class="{{className}}"
>
  <div style="width: 50%;" class="p-b has-bg-red {{className}}">
    Example
  </div>
</div>

{% elif className == 'l-align-center-self' %}
<div
  style="border:2px solid black; width: 200px; height: 100px; position: relative;"
>
  <div style="width: 50%;" class="p-b has-bg-red {{className}}">
    Example
  </div>
</div>

{% else %}
<div
  style="border:2px solid black; width: 200px; height: 100px; position: relative;"
>
  <div style="width: 50%;" class="p-b has-bg-red {{className}}">
    Example
  </div>
</div>
{% endif %} {% if className == 'l-align-center-self' %}Parent is display: flex{%
endif %} {% if className == 'l-align-center-y' %}Parent is position: relative{%
endif %}
