// Schedule (b-schedule)
//
//
// Markup: 8-blocks/schedule/schedule.html
//
// Styleguide 8.1.3

$b-schedule-color-background: $color-white-pure;
$b-schedule-color-border: $color-gray-light;
$b-schedule-color-text: $color-black-off;
$b-schedule-color-alt: $color-gray-medium;
$b-schedule-color-accent: $color-primary;
$b-schedule-dates-bottom-padding: $size-xs;

.b-schedule {
  position: relative;

  background: $b-schedule-color-background;
  border: 1px solid $b-schedule-color-border;
  border-top: 0; // top-border comes from date cells
  color: $b-schedule-color-text;

  // hide components until they're imported
  &__calendar {
    display: none;
  }

  &__shows {
    display: none;
  }


}

@import 'schedule-calendar';
@import 'schedule-shows';
@import 'schedule-details';
