.b-schedule {
  &__shows {
    background: $b-schedule-color-background;
    display: block;
  }

  &__show-top {
    border-top: 1px solid $b-schedule-color-border;
    font-size: $size-b;
    padding: 5px $size-s;
  }

  &__show-time {
    font-size: $size-s;
    font-weight: 700;
    letter-spacing: $font-letter-spacing-s;
    text-align: center;

    > span:first-of-type { // AM/CT, etc.
      font-size: $size-xxs;
      font-weight: 400;
      opacity: 0.8;
    }
  }

  &__show-title {
    color: inherit;
    font-size: inherit;
    line-height: $line-height-s;
  }

  &__chevron {
    float: right;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1.6rem;
  }

  &__show-description {
    font-size: $size-b;
    padding: $size-xxs $size-s $size-b;
  }

  // LIVE SHOW //
  &__live-tag {
    background: $b-schedule-color-accent;
    border-radius: 0 0 0 $border-radius-b;
    color: $color-on-primary;
    font-size: $size-xs;
    line-height: 1;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 1px;
    text-align: center;
  }

  &__show--live {
    box-shadow: inset 0 4px 0 0 $b-schedule-color-accent;
  }
}