// animate unveiling of details
@keyframes b-schedule-invisiblyGrowFontSize {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes b-schedule-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.b-schedule {
  &__show-details {
    position: relative;
  }

  &__show-summary {
    $border-width: 3px;
    $border-hover-color: $b-schedule-color-accent;
    list-style: none;
    transition: background-color 0.2s, color 0.2s;

    &::-webkit-details-marker {
      display: none;
    }

    // create underline pseudo-element... this way we're styling the details on summary:hover/:focus
    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      height: 100%;
      width: 100%;
      bottom: -1px;
      left: 0;
      z-index: 2;

      transition: box-shadow 0.2s;
    }

    &:hover,
    &:focus {
      color: $border-hover-color;
      cursor: pointer;
    }

    &:hover::after,
    &:focus::after {
      box-shadow: inset 0 #{-$border-width} 0 0 $border-hover-color;
    }
  }

  &__show-details[open] &__chevron {
    transform: rotate(180deg);
  }

  &__show-details[open] &__show-summary ~ * {
    animation-name: b-schedule-invisiblyGrowFontSize, b-schedule-fadeIn;
    animation-duration: 250ms, 150ms;
    animation-delay: 0ms, 250ms;
    animation-timing-function: ease-in-out, ease-out;
  }
}
