// Byline (byline)
//
// Used for attribution of content.
//
// Markup: <div class="byline"><a href="/staff/Dan+Mihalopoulos">Dan Mihalopoulos</a>, Kate McGee</div>
//
//
// Styleguide 5.3.5
//
.byline {
  color: $legacy-color-gray;
  font-size: 14px;
  line-height: .5;

  a {
    color: $color-wbez-red;
  }

  a:hover,
  a:focus {
    color: $color-link-hover;
  }
}