// Datestamp (t-datestamp)
//
// Used for timestamping of content.
//
// Markup: <time class="t-datestamp" datetime="2019-09-04T19:35:32Z">September 4, 2019</time>
//
//
// Styleguide 5.3.5
//
.t-datestamp {
  color: #848687;
  font-size: 14px;
  line-height: 1.1;
  margin: 10px 0 15px;
}