@font-face {
  font-display: swap;
  font-family: Charter;
  src: url('https://cdn.wbez.org/fonts/charter-bold.woff2') format('woff2'),
    url('https://cdn.wbez.org/fonts/charter-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: Charter;
  src: url('https://cdn.wbez.org/fonts/charter-bolditalic.woff2') format('woff2'),
    url('https://cdn.wbez.org/fonts/charter-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  src: url('https://cdn.wbez.org/fonts/sourcesanspro-regular.woff2') format('woff2'),
    url('https://cdn.wbez.org/fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  src: url('https://cdn.wbez.org/fonts/sourcesanspro-italic.woff2') format('woff2'),
    url('https://cdn.wbez.org/fonts/sourcesanspro-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  src: url('https://cdn.wbez.org/fonts/sourcesanspro-bold.woff2') format('woff2'),
    url('https://cdn.wbez.org/fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  src: url('https://cdn.wbez.org/fonts/sourcesanspro-bolditalic.woff2') format('woff2'),
    url('https://cdn.wbez.org/fonts/sourcesanspro-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
