// Headline (t-headline)
//
// Our default headline formatting. Does not include size.
//
// Headlines are typically `<h1>` elements, but you can apply the styles to any header element to size appropriately. Linked headlines will be given a red underline style on hover.
//
// -article - Article headlines are special and have responsive font-sizing.
//
// Markup: <h1 class="t-headline {{ className }}">Story headline text <a>with link.</a></h1>
//
//
// Styleguide 5.3.1

// duplicately define heading here, in case user imports this file but not elements
.t-headline {
  color: $color-black-pure;
  font-weight: bold;
  line-height: $line-height-s;

  > b,
  > strong {
    font-weight: inherit;
  }

  &.-article {
    font-size: $size-xl;

    @include breakpoint-min(bp-s) {
      font-size: $size-giant;
    }
  }
}
