// Links (t-links)
//
// Apply this to a parent to have descendant `<a>` tags inherit the respective link style. See [elements/_links](/pages/elements/index.html#links) for default link styling.
//
// -subtle - Changes the color to `$color-link-hover` on hover/focus without underline
// -underlined - Preserves the color, adds an underline on hover/focus
// -subtle.-underlined - Changes the color to `$color-link-hover` on hover/focus with underline
// -story - A special link treatment specific to stories.
//
// Markup: <p class="t-links {{ className }}">Block of text in a paragraph. <a href="#">This is what links with a parent of this style look like.</a> <u><a href="#">This is what a link inside an underline looks like.</a></u></p>
//
// Styleguide 5.3.1

/* stylelint-disable no-descending-specificity  */
.t-links {
  // use default link styling

  &.-subtle {
    --color-link: 'currentColor'; // wrap in quotes for Edge custom properties
    --color-link-hover: #{$color-link-hover};
    --color-link-underline: transparent;
    --color-link-underline-hover: transparent;
  }

  &.-underlined {
    --color-link: 'currentColor';
    --color-link-hover: 'currentColor';
    --color-link-underline: transparent;
    --color-link-underline-hover: 'currentColor';
  }

  &.-subtle.-underlined {
    --color-link-hover: #{$color-link-hover};
  }

  &.-story {
    --color-link: #048282;
    --color-link-hover: #048282;

    a:not(.c-button):not(.t-unlink) {
      // add dotted "underline" using border-bottom
      border-bottom: 1px dotted currentColor;
      box-shadow: 0 1px 0 0 transparent;
      text-decoration: none;
      transition: box-shadow 0.1s linear;

      &:hover,
      &:focus {
        // make "underline" solid and thicker by fading in a box-shadow
        border-bottom: 1px solid currentColor;
        box-shadow: 0 1px 0 0 currentColor;
      }
    }

    // stylelint-disable declaration-no-important
    u a {
      border-bottom: none !important;
      box-shadow: none !important;
    }
    // stylelint-enable declaration-no-important
  }
}
/* stylelint-enable  */
