// Overline (t-overline)
//
// Our default headline formatting. Does not include size.
//
// Markup: <p class="t-overline">Story overline text <a>with link.</a></p><a class="t-overline" style="display: inline-block;">Overline link</a>
//
//
// Styleguide 5.3.1
.t-overline {
  @include font-setting;
  @include underlined-link-parent('true');
  color: $color-primary;
  font-weight: 700;
}

a.t-overline {
  @include underlined-link('true');
  color: $color-primary;
  font-weight: 700;
}