// Prose (t-prose)
//
// Apply this class to add element styles for user-generated markup.
//
// Markup: 5-typography/prose.html
//
// Styleguide 5.3.1

.t-prose {
  > * {
    line-height: $line-height-b;
    margin-left: auto;
    margin-right: auto;
  }

  > * + * {
    margin-top: $size-b;
  }

  > ul {
    list-style: disc;
  }

  > ol {
    list-style: decimal;
  }

  > ul,
  > ol {
    list-style-position: outside;
    padding: 0 $size-b;

    li {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: $size-s;
    }

    ul,
    ol {
      margin: $size-s auto;
      padding: 0 $size-xl;
      list-style: unset;
    }

    p {
      margin: $size-xxxs 0;
    }
  }
}