// Article copy (article_copy)
//
// The .article_copy class can be extended around a group of <p> to apply our default serif prose styles.
//
// Markup: <div class="article_copy"><p>Lorem ipsum. <a>Link text</a></p></div>
//
//
// Styleguide 5.2.9
.article_copy {
	color: $legacy-color-dark-gray;
	font-size: 16px;
	line-height: 24px;

	img {
		max-width: 100%;
	}

	p {
		margin-bottom: 20px;
	}
}