// Sectionhead (section_heading)
//
// Markup: <h2 class="section_heading">Title for a section of text with <a>link.</a></h3>
//
//
// Styleguide 5.3.2
.section_heading {
  @include font-setting;
	background: $legacy-color-off-white;
	border: 1px solid $legacy-color-ghost-white;
	color: $legacy-color-light-gray;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	padding: 5px;
	text-transform: uppercase;
}