// Sectionhead (t-section-heading)
//
// Markup: <h2 class="t-section-heading">Title for a section of text with <a>link.</a></h2>
//
//
// Styleguide 5.3.2
.t-section-heading {
  @include font-setting;
  background: $color-white-off;
  border: 1px solid $color-gray-light;
  color: $color-gray-medium;
  font-size: $size-s;
  font-weight: 400;
  padding: $size-xxxs;
  text-transform: uppercase;
}
