// Smallcaps (t-smallcaps)
//
// -light - Applies a lighter font weight and increases the letter-spacing
// -section - Applies bottom margin and bumps down font-size
//
// Markup: <span class="t-smallcaps {{ className }}">Lorem ipsum</span>
//
// Styleguide 5.3.4

.t-smallcaps {
  font-weight: 700;
  letter-spacing: $font-letter-spacing-b;
  padding: 0.2em 0;
  text-transform: uppercase;

  // Byline
  &.-light {
    font-weight: 400;
    letter-spacing: $font-letter-spacing-l;
  }

  &.-section {
    font-size: $size-s;
    margin-bottom: $size-tiny;
  }
}
