// Text font variant (t-<font-variant>)
//
// {{isHelper}}
//
// .t-serif - Default serif
// .t-sans - Default sans
//
// Markup: <h4 class="{{ className }}">Change inherit font family</h4>
//
//
// Styleguide 5.2.2
.t-serif {
  @include font-setting('secondary');
}

.t-sans {
  @include font-setting;
}

// Text case (t-<case>)
//
// Adds new naming convention {{isHelper}}
//
// .t-titlecase - Text transformed to Title Case
// .t-uppercase - Text transformed to UPPERCASE
// .t-uppercase--wide - To be used with UPPERCASE to add kerning
// .t-uppercase--extra-wide - To be used with UPPERCASE to add more kerning
//
// Markup: <p class="{{ className }}">Text transform helper.</p>
//
//
// Styleguide 5.2.5
.t-titlecase {
  text-transform: capitalize;
}

.t-uppercase {
  text-transform: uppercase;

  &--wide {
    letter-spacing: $font-letter-spacing-b;
  }

  &--extra-wide {
    letter-spacing: $font-letter-spacing-l;
  }
}

// Text align (t-align-<dir>)
//
// Adds new naming convention {{isHelper}}
//
// .t-align-left - Left aligned
// .t-align-center - Center aligned
// .t-align-right - Right aligned
//
// Markup: <p class="{{ className }}">Example</p>
//
//
// Styleguide 5.2.7

.t-align-left {
  text-align: left;
}

.t-align-center {
  text-align: center;
}

.t-align-right {
  text-align: right;
}

// Text line height (t-space-<type>)
//
// {{isHelper}}
//
// t-space-base - Base leading | line-height: 1.4 (used on paragraphs)
// t-space-heading-s - More spaced out | line-height: 1.25
// t-space-heading-m - More spaced out | line-height: 1.5
// t-space-heading-l - Even more | line-height: 2
//
// Markup: <p style="height: 100px" class="{{ className }} t-headline t-l">Texas again mistakenly flags voters for citizenship reviews</p>
//
//
// Styleguide 5.2.7
//
$line-height-type: (
  base: $line-height-b,
  heading-s: $line-height-s,
  heading-m: $line-height-m,
  heading-l: $line-height-l,
);

@each $type-set, $line-height in $line-height-type {
  .t-space-#{$type-set} {
    line-height: $line-height;
  }
}

// Text font weight (t-weight-<type>)
//
// {{isHelper}}
//
// t-weight-normal - Normal
// t-weight-bold - Bold
//
// Markup: <p style="height: 100px" class="{{ className }} t-sans t-l">Texas again mistakenly flags voters for citizenship reviews</p>
//
//
// Styleguide 5.2.7
//
.t-weight-normal {
  font-weight: 400;
}

.t-weight-bold {
  font-weight: 700;
}

.t-weight-400 {
  @extend .t-weight-normal;
}

.t-weight-700 {
  @extend .t-weight-bold;
}
