// Accent box (c-accent-box)
//
// Markup: 6-components/accent-box/accent-box.html
//
// Styleguide 6.0.1

.c-accent-box {
  background: $color-white-off;
  border: 1px solid $color-gray-light;
  display: block;
  padding: $size-b;
}
