// Accent box (c-accent-box)
//
// Markup: 6-components/accent-box/accent-box.html
//
// Styleguide 6.0.1

.c-accent-box {
  @include font-setting(sans);
  border: 1px solid rgba(180, 180, 180, 0.35);
  display: block;
  filter: contrast(0.7);
  padding: $size-l $size-b;

  > :first-child {
    margin-top: 0;
  }
}
