<section id="related_stories_container" class="stories_container">
  <h2 class="t-section-heading">Related Stories</h2>
  <div class="row my-s">
    {% set data = { 
      'headline': 'Widespread Hospitalizations, One Death In Illinois Prompt Investigation Into Vaping',
      'imageUrl': 'https://api.wbez.org/v2/images/3b0bf719-1b89-4a8e-9f5f-3918c47e16b8.jpg?width=145&height=145&mode=FILL&threshold=0',
      'datestamp': 'August 29, 2019' 
    } %}
    {% include '../../6-components/content-unit/partials/_skinny.html' %}
    
    {% set data = {
      'headline': 'Lake County State’s Attorney Sues Juul Labs For Allegedly Targeting Teens',
      'imageUrl': 'https://api.wbez.org/v2/images/f30c3d9a-f8d5-4191-afcd-aea464ec3fb8.jpg?width=145&height=145&mode=FILL&threshold=0',
      'datestamp': 'August 15, 2019' 
    } %}
    {% include '../../6-components/content-unit/partials/_skinny.html' %}
    
    {% set data = {
      'headline': 'You Have To Be 21 To Smoke In Illinois. Will New Law Affect Teen Vaping?',
      'imageUrl': 'https://api.wbez.org/v2/images/2fde6e16-c1d1-4ed2-bcf1-180d5732a43f.jpg?width=145&height=145&mode=FILL&threshold=0',
      'datestamp': 'April 9, 2019'
    } %}
    {% include '../../6-components/content-unit/partials/_skinny.html' %}
    
    {% set data = {
      'headline': 'Vaping Trend Explodes At Schools Across The Country',
      'imageUrl': 'https://api.wbez.org/v2/images/2fde6e16-c1d1-4ed2-bcf1-180d5732a43f.jpg?width=145&height=145&mode=FILL&threshold=0',
      'datestamp': 'April 5, 2019' 
    } %}
    {% include '../../6-components/content-unit/partials/_skinny.html' %}
  </div>
</section>
