.b-site-footer__social-icon {
  > .c-button {
    color: $color-black-off;

    &:hover,
    &:focus {
      color: $color-white-pure;
    }
  }

  &:active {
    > .c-button {
      opacity: 0.7;
      @include box-shadow-default;
    }
  }
}
