// Site footer (b-site-footer)
//
// Markup: 8-blocks/site-footer/site-footer.html
//
// Styleguide 8.1.3

$b-site-footer__color-text: $legacy-color-light-gray;
$b-site-footer__color-link: $legacy-color-middle-grayish-white;
$b-site-footer__color-background: #1a1a1a;

.b-site-footer {
  color: $b-site-footer__color-text;
  padding: 10px;

  a {
    color: $b-site-footer__color-link;
  }

  &__heading {
    color: transparentize($b-site-footer__color-link, 0.2);
    font-size: 1em;
    margin-bottom: .5em;
    text-transform: uppercase;
  }

  &__row {
    margin: 25px 0;
  }

  // Top //
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 575px) {
      justify-content: space-between;
    }
  }

  &__logo {
    > img {
      max-height: 2rem;
      width: auto;
    }
  }

  &__logo,
  &__social-icons {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__social-icon {
    display: inline-block;
    vertical-align: top;

    .c-button {
      border-color: transparent;
    }
  }

  // Menus //
  &__menus {
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-gap: 20px;
    justify-content: space-evenly;

    @media (min-width: 575px) {
      grid-template-columns: 230px repeat(auto-fit, calc(50% - 10px));
    }

    @media (min-width: 820px) {
      grid-template-columns: 250px repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;

    .c-button {
      margin-bottom: 5px;
      text-decoration: none;
      width: 100%;

      i.wbez-sprite {
        margin-right: auto;
      }

      span {
        text-align: left;
        width: 150px;
      }
    }
  }

  // Promos //
  &__promos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
  }

  &__promo {
    background: $b-site-footer__color-background;
    border-radius: $border-radius-b;
    padding: 15px;

    h3 {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
    }

    form {
      display: flex;
      align-items: center;
    }

    form > .c-button {
      background-color: transparent;
      border-color: $b-site-footer__color-link;
      color: $b-site-footer__color-link;
      flex: 0 0 auto;
      font-size: 1rem;
      margin-left: 10px;
      line-height: 2em;
      height: 2em;
      box-sizing: content-box;

      @include media-hover {
        background-color: $b-site-footer__color-link;
        color: $b-site-footer__color-background;
      }
    }

    .form-element {
      color: $b-site-footer__color-text;
      flex: 1 0 auto;

      > input {
        background-color: transparentize(white, 0.05);
      }
    }
  }
}

@import 'site-footer-social';

.c-button {
  &.shows {
    @include setIcon($section_shows);
  }

  &.schedules {
    @include setIcon($section_schedule);
  }

  &.topics {
    @include setIcon($section_topics);
  }

  &.vocalo {
    @include setIcon($section_vocalo);
  }
}
