// Site footer (b-site-footer)
//
// Markup: 8-blocks/site-footer/site-footer.html
//
// Styleguide 8.1.3

$b-site-footer__color-text: $color-gray-medium;
$b-site-footer__color-link: $color-gray-light;
$b-site-footer__color-background: $color-black-off;

.b-site-footer {
  color: $b-site-footer__color-text;
  padding: $size-s;

  a,
  .c-button {
    color: $b-site-footer__color-link;
  }

  &__heading {
    color: transparentize($b-site-footer__color-link, 0.2);
    font-size: 1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  &__row {
    margin: $size-xl 0;
  }

  // Top //
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 575px) {
      justify-content: space-between;
    }
  }

  &__logo {
    > img {
      max-height: 2rem;
      width: auto;
    }
  }

  &__logo,
  &__social-icons {
    margin-top: $size-s;
    margin-bottom: $size-s;
  }

  &__social-icon {
    display: inline-block;
    vertical-align: top;

    .c-button {
      border-color: transparent;
    }
  }

  // Menus //
  &__menus {
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    @include gap($size-l);
    justify-content: space-evenly;

    @media (min-width: 575px) {
      grid-template-columns: 230px repeat(auto-fit, calc(50% - 10px));
    }

    @media (min-width: 820px) {
      grid-template-columns: 250px repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;

    .c-button {
      font-size: $size-s;
      margin-bottom: $size-tiny;
      padding-top: $size-s;
      padding-bottom: $size-s;
      text-decoration: none;
      width: 100%;

      span {
        text-align: left;
        width: 140px;
      }
    }
  }

  &__menu {
    li {
      margin: $size-xxxs 0;
    }

    a {
      display: block;
      line-height: 1.2;
    }
  }

  // Promos //
  &__promos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    @include gap($size-l);
  }

  &__promo {
    background: $b-site-footer__color-background;
    border-radius: $border-radius-b;
    padding: $size-b;

    p {
      margin-bottom: $size-l;
    }

    form {
      display: flex;
      align-items: center;
    }

    form > .c-button {
      background-color: transparent;
      border-color: $b-site-footer__color-link;
      color: $b-site-footer__color-link;
      flex: 0 0 auto;
      font-size: $size-s;
      margin-left: $size-s;
      line-height: 2em;
      height: 2em;
      box-sizing: content-box;

      &:hover,
      &:focus {
        background-color: $b-site-footer__color-link;
        color: $b-site-footer__color-background;
      }
    }

    .c-text-input {
      color: $b-site-footer__color-text;
      flex: 1 0 auto;

      > input {
        background-color: transparentize(white, 0.05);
      }
    }
  }
}

@import 'site-footer-social';
