// Swatch set - Branding - Core
//
// Colors specific to our brand.
//
// Colors:
// $color-wbez-black: #252525 - Body copy
// $color-wbez-black-dark: #000000 - Black
// $color-wbez-red: #ed0000 - Primary branding
// $color-wbez-red-dark: #cf0000 - Darker primary variant
// $color-wbez-gray-light: #dcddde - Light gray
// $color-wbez-gray-medium: #636466 - Medium gray
// $color-on-primary: #ffffff - White
//
// Styleguide 1.1.1
//
$color-wbez-black: #252525;
$color-wbez-black-dark: black;

$color-wbez-red: #ed0000;
$color-primary: $color-wbez-red;
$color-wbez-red-dark: #cf0000;
$color-primary-dark: $color-wbez-red-dark;

$color-wbez-gray-light: #dcddde;
$color-wbez-gray-medium: #636466;

$color-on-primary: white;
$color-on-primary-dark: transparentize(white, 0.02);

// Swatch set - Branding - Tertiary
//
// Colors to be used as a complement or contrast to the core colors.
// 
// For detailed guidance and accessibility guidelines, see the [WBEZ color palette document](https://chicagopublicmedia.sharepoint.com/:b:/s/WBEZLogos/EdIwVz0A5OZOo9N1J1lbJLoB9HLJl0geGbVCFAAyzNoS5A?e=d8CipJ).
//
// Colors:
// $color-gold: #ffd03d - Complementary
// $color-teal: #24bcb7 - Complementary
// $color-periwinkle: #5151bd - Complementary
// $color-light-blue: #1d9cd3 - Complementary
// $color-cotton-candy: #ffd7ff - Bright contrast
// $color-lime: #adf45b - Bright contrast
// $color-lavender: #99a8ff - Bright contrast
// $color-sky: #88f7ff - Bright contrast
// $color-marigold: #f79e1c - Dark contrast
// $color-peacock: #016480 - Dark contrast
// $color-royal-purple: #5f2b7b - Dark contrast
// $color-royal-blue: #263c80 - Dark contrast
//
// Styleguide 1.1.1
//
$color-gold: #ffd03d;
$color-teal: #24bcb7;
$color-periwinkle: #5151bd;
$color-light-blue: #1d9cd3;
$color-cotton-candy: #ffd7ff;
$color-lime: #adf45b;
$color-lavender: #99a8ff;
$color-sky: #88f7ff;
$color-marigold: #f79e1c;
$color-peacock: #016480;
$color-royal-purple: #5f2b7b;
$color-royal-blue: #263c80;

// Swatch set - Grays
//
// In search of that perfect gray.
//
// Colors:
// $color-white-pure: #ffffff - White
// $color-white-off: #f3f3f3 - Kinda white
// $color-gray-light: #dcddde - Gray light
// $color-gray-medium: #636466 - A little bit darker now
// $color-gray-dark: #4a4a4a - A little bit darker now
// $color-black-off: #252525 - A little bit darker now
// $color-black-pure: #000000 - True black
//
// Styleguide 1.1.2
//
$color-white-pure: white;
$color-white-off: #f3f3f3;
$color-gray-light: #dcddde; // same as $color-wbez-gray-light
$color-gray-medium: #636466; // same as $color-wbez-gray-medium
$color-gray-dark: #4a4a4a;
$color-black-off: #252525; // same as $color-wbez-dark
$color-black-pure: black;

// Swatch set - Social
//
// Used for social sites branding consistency.
//
// Colors:
// $color-facebook: #2d60c4 - Facebook
// $color-twitter: #55acee - Twitter
// $color-instagram: #517fa4 - Instagram
// $color-youtube: #bb0000 - YouTube
// $color-feedburner: #1371bf - Feedburner
//
// Styleguide 1.1.3
//
$color-facebook: #2d60c4;
$color-twitter: #55acee;
$color-instagram: #517fa4;
$color-youtube: #bb0000;
$color-feedburner: #1371bf;

// Swatch set - States
//
// These are special variables assigned to specific elements and states.
//
// Colors:
// $color-link: #ec0101 - Same as $color-primary
// $color-link-hover: #ec0101 - Same as $color-primary
// $color-error: #f51c1c - Error
// $color-success: #11a06b - Success
//
// Styleguide 1.1.4
//
$color-link: $color-primary;
$color-link-hover: $color-primary;
$color-error: #f51c1c;
$color-success: #11a06b;

$color-box-shadow-default: rgba(171, 168, 168, 0.75);
