// Swatch set - Branding - Primary
//
// Colors specific to our brand.
//
// Colors:
// $color-wbez-black: #252525 - Body copy
// $color-wbez-black-dark: #000
// $color-wbez-red: #ec0101 - Primary branding, aka $color-primary
// $color-wbez-red-dark: #cf0000 - aka $color-primary-dark
// $color-wbez-gray: #f5f5f5 - Fields of gray
// $color-wbez-gray-dark: #64686e
//
// Styleguide 1.1.1
//
$color-wbez-black: #252525;
$color-wbez-black-dark: #000;

$color-wbez-red: #ec0101;
$color-primary: $color-wbez-red;
$color-wbez-red-dark: #cf0000;
$color-primary-dark: $color-wbez-red-dark;

$color-wbez-gray: #f5f5f5;
$color-wbez-gray-dark: #64686e;

// Swatch set - Branding - Secondary
//
// Colors specific to our brand.
//
// Colors:
// $color-teal: #72a2a9
// $color-teal-dark: #5c8e96
// $color-gold: #f9b816
// $color-gold-dark: #e3a816
// $color-gray: #888b90
// $color-gray-dark: #6d6f73
// $color-lightgray: #c5c5c5
// $color-lightgray-dark: #b1b1b1
//
// Styleguide 1.1.1
//
$color-teal: #72a2a9;
$color-teal-dark: #5c8e96;
$color-gold: #f9b816;
$color-gold-dark: #e3a816;
$color-bluegray: #888b90;
$color-bluegray-dark: #6d6f73;
$color-lightgray: #c5c5c5;
$color-lightgray-dark: #b1b1b1;

// Swatch set - Grays
//
// Experimental: In search of that perfect gray.
//
// Colors:
// $color-white-pure: #fff - White
// $color-white-off: #f3f3f3 - Kinda white
// $color-gray-light: #d0d0d0 - Gray light
// $color-gray-medium: #797979 - A little bit darker now
// $color-gray-dark: #4a4a4a - A little bit darker now
// $color-black-off: #222 - A little bit darker now
// $color-black-pure: #000 - True black
//
// Styleguide 1.1.2
//
$color-white-pure: #fff;
$color-white-off: #f3f3f3;
$color-gray-light: #d0d0d0;
$color-gray-medium: #797979;
$color-gray-dark: #4a4a4a;
$color-black-off: #222;
$color-black-pure: #000;

// Swatch set - Social
//
// Experimental: Used for social sites branding consistency.
//
// Colors:
// $color-facebook: #2d60c4 - Facebook
// $color-twitter: #55acee - Twitter
//
// Styleguide 1.1.3
//
$color-facebook: #2d60c4;
$color-twitter: #55acee;

// Swatch set - States and promos
//
// Experimental: These are special variables assigned to specific elements and states.
//
// Colors:
// $color-link-underline: $color-primary - Link Underline
// $color-error: #f51c1c - Error
// $color-success: #11A06B - Success
// $color-sponsor: #3366cc - Sponsored content signifier
//
// Styleguide 1.1.4
//
$color-link-underline: $color-primary;
$color-link-hover: #23527c;
$color-error: #f51c1c;
$color-success: #11A06B;
$color-sponsor: #3366cc;

// Legacy colors
$legacy-color-darkest-gray: #141414;
$legacy-color-darker-gray: #1d1d1d;

$legacy-color-dark-gray: #252525;
$legacy-color-middle-darker-gray: #303030;
$legacy-color-middle-dark-gray: #44474a;
$legacy-color-darkesh-gray: #494949;
$legacy-color-darkish-gray: #585e64;
$legacy-color-gray: #595e64;
$legacy-color-gray-ish: #64686e;
$legacy-color-grayer: #d8dce3;
$legacy-color-lightest-gray: #7f7f7f;
$legacy-color-lightish-gray: #848687;
$legacy-color-separator-gray: #BCBCBC;
$legacy-color-light-gray: #86898e;
$legacy-color-grayish-white: #8a8e92;
$legacy-color-grayish-dark-white: #979a9e;
$legacy-color-darker-middle-grayish-white: #bdbdbd;
$legacy-color-dark-middle-grayish-white: #c5c5c5;
$legacy-color-persistent-player-gray: #666;
$legacy-color-middle-grayish-white: #ccc;
$legacy-color-ghost-white: #e5e5e5;
$legacy-color-ghost-whitish: #ececec;
$legacy-color-off-white: #f5f5f5;
$legacy-color-redder: #c90000;
$legacy-color-red: #cb0000;
$legacy-color-bright-red: #ec0101;
$legacy-color-brighter-red: #ef0000;
$legacy-color-ghost-overlay: rgba(233, 234, 235, 0.2);
$legacy-color-wwdtm-bg: #ef5032;
$legacy-color-progress-red: #f90000;
$legacy-color-progress-red-secondary: #df0000;
$legacy-color-pencil-ad-bg: #72a2a9;
$legacy-color-pencil-ad-link-hover: #1a545c;
$legacy-color-gray-schedule-bg: #F8F8F8;
$legacy-color-vocalo-yellow: #ffb718;
$legacy-color-segment-active: rgb(135, 138, 143);
$legacy-color-segment-bg: rgb(115, 115, 115);
