$social_more_hover: -0px -0px 23px 11px;
$social_more: -0px -11px 23px 11px;
$schedule_arrow_open: -0px -22px 24px 16px;
$schedule_arrow_close: -0px -38px 24px 16px;
$social_flickr_lite: -0px -54px 25px 17px;
$social_flickr: -0px -71px 25px 17px;
$social_flickr_dark: -0px -88px 25px 17px;
$social_flickr_hover: -0px -105px 25px 17px;
$social_url_tiny: -0px -122px 18px 18px;
$social_twitter_tiny: -0px -140px 21px 18px;
$footer_heart: -0px -158px 19px 18px;
$close_small: -0px -176px 18px 18px;
$section_queue: -0px -194px 31px 19px;
$social_mail_tiny: -0px -213px 20px 19px;
$nav_hamburger: -0px -232px 26px 20px;
$social_tumblr_tiny: -0px -252px 16px 20px;
$arrow_big_up: -0px -272px 29px 20px;
$arrow_big_down: -0px -292px 29px 20px;
$close_segments: -0px -312px 20px 20px;
$queue: -0px -332px 21px 21px;
$queue_remove: -0px -353px 21px 21px;
$pause_content: -0px -374px 16px 21px;
$button_arrow_white: -0px -395px 19px 21px;
$queue_white: -0px -416px 21px 21px;
$social_facebook_tiny: -0px -437px 15px 21px;
$pfs_loa: -0px -458px 118px 21px;
$queue_in_queue: -0px -479px 21px 21px;
$social_google_hover: -0px -500px 30px 22px;
$social_google: -0px -522px 30px 22px;
$play_content: -0px -544px 20px 22px;
$social_mail_white: -0px -566px 25px 23px;
$social_mail_hover: -0px -589px 25px 23px;
$social_twitter_lite: -0px -612px 27px 23px;
$social_url: -0px -635px 23px 23px;
$social_youtube_lite: -0px -658px 29px 23px;
$social_url_white: -0px -681px 23px 23px;
$social_youtube: -0px -704px 29px 23px;
$social_youtube_dark: -0px -727px 29px 23px;
$social_mail: -0px -750px 25px 23px;
$social_twitter_dark: -0px -773px 27px 23px;
$social_youtube_hover: -0px -796px 29px 23px;
$social_url_hover: -0px -819px 23px 23px;
$social_linkedin_hover: -0px -842px 24px 24px;
$player_arrow_small_touch: -0px -866px 22px 24px;
$player_pause_small_touch: -0px -890px 18px 24px;
$social_twitter_hover: -0px -914px 27px 24px;
$player_error_small: -0px -938px 10px 24px;
$nav_LOA_arrow_up_red: -0px -962px 23px 24px;
$nav_close: -0px -986px 24px 24px;
$player_arrow_small: -0px -1010px 22px 24px;
$favicon: -0px -1034px 24px 24px;
$social_linkedin: -0px -1058px 24px 24px;
$social_twitter: -0px -1082px 27px 24px;
$social_twitter_white: -0px -1106px 27px 24px;
$nav_LOA_arrow_down_red: -0px -1130px 23px 24px;
$social_instagram_lite: -0px -1154px 23px 25px;
$social_instagram_hover: -0px -1179px 23px 25px;
$social_instagram_dark: -0px -1204px 23px 25px;
$social_instagram: -0px -1229px 23px 25px;
$social_facebook_hover: -0px -1254px 18px 25px;
$social_tumblr_white: -0px -1279px 19px 25px;
$social_tumblr: -0px -1304px 19px 25px;
$social_facebook_white: -0px -1329px 18px 25px;
$event_rsvp: -0px -1354px 19px 25px;
$social_tumblr_hover: -0px -1379px 19px 25px;
$social_facebook: -0px -1404px 18px 25px;
$topics_arrow: -0px -1429px 18px 26px;
$event_tickets_pink: -0px -1455px 20px 27px;
$events_tickets_gray: -0px -1482px 20px 27px;
$social_tumblr_dark: -0px -1509px 21px 28px;
$social_facebook_dark: -0px -1537px 21px 28px;
$social_feedburner: -0px -1565px 27px 28px;
$player_rr_dim_small: -0px -1593px 29px 28px;
$social_tumblr_lite: -0px -1621px 21px 28px;
$social_facebook_lite: -0px -1649px 21px 28px;
$icon_pdf: -0px -1677px 28px 28px;
$social_feedburner_dark: -0px -1705px 27px 28px;
$social_feedburner_lite: -0px -1733px 27px 28px;
$social_feedburner_hover: -0px -1761px 27px 28px;
$player_previous_small: -0px -1789px 31px 29px;
$player_previous_hover_small: -0px -1818px 31px 29px;
$player_ff_dim_small: -0px -1847px 31px 29px;
$WBEZ_events: -0px -1876px 94px 29px;
$player_next_hover_small: -0px -1905px 31px 29px;
$player_next_small: -0px -1934px 31px 29px;
$loading_transparent: -0px -1963px 31px 31px;
$nav_heart: -0px -1994px 32px 31px;
$close_hover: -0px -2025px 31px 31px;
$close: -0px -2056px 31px 31px;
$close_hover_white: -0px -2087px 31px 31px;
$section_schedule: -0px -2118px 33px 32px;
$player_pause_hover: -0px -2150px 22px 32px;
$player_pause: -0px -2182px 22px 32px;
$section_topics: -0px -2214px 29px 33px;
$section_vocalo: -0px -2247px 42px 33px;
$icon_warning_small: -0px -2280px 37px 34px;
$footer_logo: -0px -2314px 219px 34px;
$player_next_white_hover: -0px -2348px 37px 35px;
$player_previous_white_hover: -0px -2383px 37px 35px;
$player_previous_white: -0px -2418px 37px 35px;
$player_next: -0px -2453px 37px 35px;
$player_rr_white_dim: -0px -2488px 37px 35px;
$player_ff_white_dim: -0px -2523px 37px 35px;
$player_ff_dim: -0px -2558px 37px 35px;
$player_previous_hover_white: -0px -2593px 37px 35px;
$replayer_desktop_close: -0px -2628px 35px 35px;
$player_previous_hover: -0px -2663px 37px 35px;
$player_next_white: -0px -2698px 37px 35px;
$player_rr_dim: -0px -2733px 37px 35px;
$player_next_hover: -0px -2768px 37px 35px;
$player_previous: -0px -2803px 37px 35px;
$player_arrow_dim: -0px -2838px 33px 36px;
$player_error: -0px -2874px 11px 36px;
$player_error_hover: -0px -2910px 11px 36px;
$section_shows: -0px -2946px 26px 36px;
$player_play_hover: -0px -2982px 33px 36px;
$player_play: -0px -3018px 33px 36px;
$nav_connect: -0px -3054px 33px 36px;
$audio: -0px -3090px 41px 37px;
$App_Google_white: -0px -3127px 121px 38px;
$App_Apple: -0px -3165px 118px 38px;
$App_Google: -0px -3203px 121px 38px;
$App_Apple_white: -0px -3241px 118px 38px;
$donate-dollar-sign: -0px -3279px 40px 39px;
$arrow_right_xl_hover: -0px -3318px 27px 40px;
$replayer_left_arrow: -0px -3358px 27px 40px;
$replayer_right_arrow: -0px -3398px 27px 40px;
$arrow_right_xl: -0px -3438px 27px 40px;
$arrow_left_xl_hover: -0px -3478px 27px 40px;
$arrow_left_xl: -0px -3518px 27px 40px;
$favicon: -0px -3558px 40px 40px;
$player_jump_forward_white_hover: -0px -3598px 39px 43px;
$player_jump_forward_white_dim: -0px -3641px 39px 43px;
$player_jump_forward_white: -0px -3684px 39px 43px;
$player_jump_forward_hover: -0px -3727px 39px 43px;
$player_jump_forward_dim: -0px -3770px 39px 43px;
$player_jump_forward: -0px -3813px 39px 43px;
$player_jump_back_dim: -0px -3856px 40px 43px;
$WWDTM_logo_text: -0px -3899px 176px 43px;
$player_jump_back: -0px -3942px 40px 43px;
$player_jump_back_hover: -0px -3985px 40px 43px;
$player_play_small_hover: -0px -4028px 44px 44px;
$player_play_small_tap: -0px -4072px 44px 44px;
$player_pause_small_tap: -0px -4116px 44px 44px;
$player_pause_small: -0px -4160px 44px 44px;
$player_pause_small_hover: -0px -4204px 44px 44px;
$player_play_small: -0px -4248px 44px 44px;
$player_jump_back_white_dim: -0px -4292px 40px 45px;
$player_jump_back_white: -0px -4337px 40px 45px;
$player_jump_back_white_hover: -0px -4382px 40px 45px;
$radio_Vocalo: -0px -4427px 233px 50px;
$app_icon_replay: -0px -4477px 58px 50px;
$player_vocalo: -0px -4527px 66px 51px;
$app_icon_radio: -0px -4578px 58px 52px;
$wbez-915-logo-small: -0px -4630px 216px 56px;
$wbez-915-logo: -0px -4686px 398px 56px;
$lightbox_open: -0px -4742px 56px 56px;
$player_logo: -0px -4798px 53px 56px;
$WWDTM_logo_text_lg: -0px -4854px 246px 57px;
$app_icon_to_go: -0px -4911px 58px 58px;
$arrow_left: -0px -4969px 28px 58px;
$arrow_left_hover: -0px -5027px 28px 58px;
$arrow_right: -0px -5085px 28px 58px;
$arrow_right_hover: -0px -5143px 28px 58px;
$footer_Pritzker: -0px -5201px 122px 60px;
$player_pause_persistent: -0px -5261px 60px 60px;
$player_play_persistent: -0px -5321px 60px 60px;
$player_play_tap: -0px -5381px 60px 60px;
$player_pause_tap: -0px -5441px 60px 60px;
$player_pause_persistent_tap: -0px -5501px 60px 60px;
$player_pause_persistent_hover: -0px -5561px 60px 60px;
$big_pause_default: -0px -5621px 60px 60px;
$big_pause_hover: -0px -5681px 60px 60px;
$big_pause_tap: -0px -5741px 60px 60px;
$big_play_default: -0px -5801px 60px 60px;
$player_play_persistent_hover: -0px -5861px 60px 60px;
$player_play_persistent_tap: -0px -5921px 60px 60px;
$big_play_hover: -0px -5981px 60px 60px;
$big_play_tap: -0px -6041px 60px 60px;
$WBEZ_High_Fidelity: -0px -6101px 557px 62px;
$player_play_white: -0px -6163px 63px 63px;
$player_pause_white: -0px -6226px 63px 63px;
$player_pause_mobile: -0px -6289px 80px 80px;
$player_pause_mobile_hover: -0px -6369px 80px 80px;
$player_play_mobile_hover: -0px -6449px 80px 80px;
$player_pause_mobile_tap: -0px -6529px 80px 80px;
$player_play_mobile_tap: -0px -6609px 80px 80px;
$WWDTM_logo_sm: -0px -6689px 46px 80px;
$player_play_mobile: -0px -6769px 80px 80px;
$airplane: -0px -6849px 303px 93px;
$WWDTM_logo: -0px -6942px 54px 97px;
$player_pause_large_tap: -0px -7039px 98px 98px;
$player_play_large_hover: -0px -7137px 98px 98px;
$player_play_large: -0px -7235px 98px 98px;
$player_pause_large: -0px -7333px 98px 98px;
$player_pause_large_hover: -0px -7431px 98px 98px;
$player_play_large_tap: -0px -7529px 98px 98px;
$pritzker: -0px -7627px 213px 102px;
$Event_flag_sm: -0px -7729px 58px 105px;
$spinner: -0px -7834px 118px 118px;
$member_supported_lg: -0px -7952px 249px 122px;
$Event_flag_lg: -0px -8074px 71px 130px;
$social_default: -0px -8204px 608px 413px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  // background-size: contain;
}

.wbez-sprite {
  background-image: url('https://www.wbez.org/img/spritesheet.png');
}

@mixin setIcon($class, $displayType: inline-block) {
  & > i.wbez-sprite {
    @include sprite($class, $displayType);
    text-indent: -9999px;
  }
}

@mixin hoverIcon($off, $over, $displayType: inline-block) {
  & > i.wbez-sprite {
    @include sprite($off, $displayType);
  }

  &:hover i.wbez-sprite {
    @include sprite($over, $displayType);
  }
}
