<article class="c-content-unit c-content-unit--event">
  <div class="c-calendar-date c-calendar-date--dark">
    <div class="c-calendar-date__month">Sep</div>
    <div class="c-calendar-date__day">18</div>
  </div>
  <div class="c-content-unit__copy">
    <a href="/events/west-side-bureau-open-house/6078">
      <img
        src="http://v2.chicagopublicmedia.org/sites/default/files/styles/event_default/public/WBEZ%20West%20Side%20Bureau%20Open%20House%20final%20image.png?itok=0wV8a47R"
        alt="West Side Bureau Open House"
      />
    </a>
    <h2 class="c-content-unit__headline t-headline">
      <a href="/events/west-side-bureau-open-house/6078"
        >West Side Bureau Open House</a
      >
    </h2>
    <div class="c-content-unit__teaser">
      <p>
        <strong
          >Wednesday, September 18 @ 4:00pm – 7:00pm at WBEZ West Side Bureau
          2710 West Cermak 60608 Chicago, IL</strong
        >
      </p>
      <p>
        We want to meet our Little Village neighbors! Come out and enjoy food,
        fun and local journalism! Meet reporters from the station and get a
        behind-the-scenes view of the journalism that powers WBEZ, Chicago's
        source for local and national news, talk and information.&nbsp;
      </p>
    </div>
    <a
      class="c-button c-button--primary c-button--round"
      href="https://www.showclix.com/event/west-side-bureau-open-house/"
    >
      <i class="wbez-sprite"></i> <span>RSVP</span>
    </a>
  </div>
</article>
