<article
  class="c-content-unit c-content-unit--row c-content-unit--row-featured"
>
  <div class="flex-row" style="display: flex; justify-content: space-between;">
    <div
      class="c-content-unit__buttons"
      style="flex: 0 0 auto; margin-right: 10px;"
    >
      <div class="c-button-overlay">
        <a href="#" class="has-overlay-on-hover">
          <img src="{{ data.imageUrl }}" alt="{{ data.headline }}" />
        </a>
        <div class="c-button-overlay__inner">
          <button
            class="c-button c-button--circle c-button--primary c-button--s play_button"
          >
            <i
              class="c-button__sprite wbez-sprite"
              style="position: relative; left: 1px;"
            ></i>
          </button>
          <button class="c-button c-button--circle c-button--s queue_button">
            <i class="c-button__sprite wbez-sprite"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="c-content-unit__copy">
      {% if data.overline %}
      <p class="c-content-unit__overline">
        <a href="#">{{ data.overline }}</a>
      </p>
      {% endif %}
      <h2 class="c-content-unit__headline">
        <a href="#">{{ data.headline }}</a>
      </h2>
      {% if data.teaser %}
      <p class="c-content-unit__teaser">{{ data.teaser }}</p>
      {% endif %} {% if data.datestamp %}
      <time class="t-datestamp">{{ data.datestamp }}</time> {% endif %}
    </div>
  </div>
</article>
