<article class="c-content-unit -skinny">
  <div class="c-button-overlay">
    <a href="#" class="has-overlay-on-hover">
      <img src="{{ data.imageUrl }}" alt="{{ data.headline }}" />
    </a>
    <div class="c-button-overlay__inner">
      <button
        class="c-button -circle -primary -s"
      >
        <i class="c-icon c-button__inner t-size-b"
          ><svg aria-hidden="true"><use xlink:href="#play"></use></svg
        ></i>
      </button>

      {# <button class="c-button -circle -s">
          <i class="c-icon c-button__inner t-size-xxs" style="color: currentColor;"
            ><svg aria-hidden="true"><use xlink:href="#plus"></use></svg
          ></i>
        </button> #}
    </div>
  </div>

  <div class="c-content-unit__copy py-tiny">
    {% if data.overline %}
    <p class="c-content-unit__overline mb-tiny t-size-xs"><a href="#">{{ data.overline }}</a></p>
    {% endif %}
    <h3 class="c-content-unit__headline t-headline t-size-s my-tiny mb-0">
      <a href="#">{{ data.headline }}</a>
    </h3>
    {% if data.datestamp %}
    <time class="t-datestamp">{{ data.datestamp }}</time> {% endif %}
  </div>
</article>
