<article class="c-content-unit c-content-unit--tile">
  <div class="c-button-overlay">
    <a href="#" class="has-overlay-on-hover">
      <img
        src="{{ data.imageUrl }}"
        alt="{{ data.headline }}"
      />
    </a>
    <div class="c-button-overlay__inner">
      <button
        class="c-button c-button--circle c-button--primary play_button"
      >
        <i
          class="c-button__sprite wbez-sprite"
          style="position: relative; left: 1px;"
        ></i>
      </button>

      <button class="c-button c-button--circle queue_button">
        <i
          class="c-button__sprite wbez-sprite"
        ></i>
      </button>
    </div>
  </div>

  <div class="c-content-unit__copy">
    {% if data.overline %}
      <p class="c-content-unit__overline"><a href="#">{{ data.overline }}</a></p>
    {% endif %}
    <h2 class="c-content-unit__headline">
      <a href="#">{{ data.headline }}</a>
    </h2>
    <p class="c-content-unit__teaser">{{ data.teaser }}</p>
  </div>
</article>
