<article class="c-content-unit -tile">
  <div class="c-button-overlay">
    <a href="#" class="has-overlay-on-hover">
      <img src="{{ data.imageUrl }}" alt="{{ data.headline }}" />
    </a>
    <div class="c-button-overlay__inner">
      <button class="c-button -circle -primary">
        <i class="c-icon c-button__inner t-size-l"
          ><svg aria-hidden="true"><use xlink:href="#play"></use></svg
        ></i>
      </button>

      {# <button class="c-button -circle t-size-s">
          <i class="c-icon c-button__inner t-size-xxs" style="color: currentColor;"
            ><svg aria-hidden="true"><use xlink:href="#plus"></use></svg
          ></i>
        </button> #}
    </div>
  </div>

  <div class="c-content-unit__copy p-s has-bg-white-off">
    {% if data.overline %}
    <p class="c-content-unit__overline mb-tiny"><a href="#">{{ data.overline }}</a></p>
    {% endif %}
    <h2 class="c-content-unit__headline t-headline my-tiny t-size-l">
      <a href="#">{{ data.headline }}</a>
    </h2>
    <p class="c-content-unit__teaser">{{ data.teaser }}</p>
    {% if data.datestamp %}
    <time class="t-datestamp">{{ data.datestamp }}</time> {% endif %}
  </div>
</article>
