// Hairline (wbz-hairline)
//
// A thematic break between content sections. {{isProse}}
//
// This needs to be applied to an [`<hr>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr) element.
//
// ---
//
// ### CMS notes:
// 
// - **No need to use this class.** Our site applies the styles to `<hr>` elements automatically.
//
// Markup: <hr class="wbz-hairline" />
//
// Styleguide 11.0.3

// this is a combination of default hr element style and c-story-body > hr

$hr-selector: 'hr.wbz-hairline' !default;

@at-root #{$hr-selector} {
  border: 1px solid $color-gray-light;
  clear: both;
  margin: $size-xxxl auto;
  width: calc((1 - 1/1.6) * 100%);

  @media screen and (min-width: $story-narrow) {
    width: (1 - 1/1.6) * $story-narrow;
  }
}
