// Form element (c-form-element)
//
// Wrap input and label in a div with class .c-form-element for an animated label, similar to Google.
//
// Override the small label color by setting the color for .c-form-element.
//
// Markup: 6-components/form-element/form-element.html
//
// Styleguide 6.0.1

.c-form-element {
    color: transparentize(black, .4);
    position: relative;

    &__input {
        &::placeholder {
            visibility: hidden;
        }
    }

    &__input + &__label {
        color: transparentize(black, .7);
        position: absolute;
        padding-top: calc(.375em - 1px);
        top: 0;
        left: calc(.625em - 1px);
        pointer-events: none;
        transform-origin: top left;
        transition: color .25s, transform .25s;
    }

    &__input:not(:placeholder-shown) + &__label,
    &__input:focus + &__label,
    &__input:active + &__label {
        color: currentColor;
        transform: scale(.8) translateY(calc(-.375em - 1px - 1.4em));
        transition: color .3s, transform .3s;
    }
}