// Form element (form-element)
//
// Wrap input and label in a div with class .form-element for an animated label, similar to Google.
//
// Markup: 6-components/form-element/form-element.html
//
// Styleguide 6.0.1

.form-element {
    position: relative;

    input::placeholder {
        visibility: hidden;
    }

    input + label {
        color: transparentize(black, .7);
        position: absolute;
        padding-top: calc(.375em - 1px);
        top: 0;
        left: calc(.625em - 1px);
        pointer-events: none;
        transform-origin: top left;
        transition: color .25s, transform .25s;
    }

    input:not(:placeholder-shown) + label,
    input:focus + label,
    input:active + label {
        color: transparentize(black, .4);
        transform: scale(.8) translateY(calc(-.375em - 1px - 1.4em));
        transition: color .3s, transform .3s;
    }
}