// Navbar (b-navbar)
//
// Deprecated: 
//
// Markup: 8-blocks/navbar/navbar.html
//
// Styleguide 8.1.3

.b-navbar {
  &__grid {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: auto;
    grid-template-areas: // stylelint-disable declaration-colon-space-after
      'header header header'
      'left main right';
    @include gap($size-s);
    align-items: center;
    justify-content: space-between;
  }

  &__top-links {
    color: $color-gray-light;
    font-size: $size-xs;
    font-weight: 400;
    text-transform: uppercase;
    grid-area: header;
  }

  &__logo {
    grid-area: main;
    text-align: center;
  }

  &__main-items {
    display: flex;

    &.-left {
      grid-area: left;
    }

    &.-right {
      justify-content: flex-end;
      grid-area: right;
    }
  }

  .c-button {
    border-width: 5px;
    box-sizing: content-box;
    flex-direction: column;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1;
    justify-content: center;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.queue_nav_button {
  position: relative;

  .queue_count {
    background: transparentize(#64686e, 0.2);
    border-radius: $border-radius-l;
    font-size: $size-xxs;
    font-weight: 700;
    line-height: 1.5;
    width: 0.8rem;
    text-align: center;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
}
