// Action bar (b-action-bar)
//
// Markup: 8-blocks/action-bar/action-bar.html
//
// Styleguide 8.1.1
//
.b-action-bar {
  background: $color-wbez-gray;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;

  .queue_button {
    @include setIcon($queue-white);
  }
}
