// Blockquote
//
// Default style for `<blockquote>` element.
//
// Markup: <blockquote>“I know we used to make so much stuff in Chicago. I guess a lot of it got made there.”</blockquote>
//
// Styleguide 4.1.1
//
blockquote {
  @include font-setting;
  border-left: solid 3px $color-primary;
  color: $color-black-off;
  padding: $size-s $size-l;
  width: 100%;
}
