// Headings
//
// Markup: 4-elements/headings.html
//
// Styleguide 4.1.1
//

h1 {
  @extend %heading;
  @include font-setting('primary');

  font-size: $size-giant;
}

h2 {
  @extend %heading;
  @include font-setting('primary');

  font-size: $size-xl;
}

h3 {
  @extend %heading;
  @include font-setting('primary');

  font-size: $size-l;
}

h4 {
  @extend %heading;
  @include font-setting('primary');

  font-size: $size-m;
}

h5 {
  @extend %heading;
  @include font-setting('secondary');

  font-size: $size-b;
}

h6 {
  @extend %heading;
  @include font-setting('secondary');

  font-size: $size-s;
  margin-bottom: $size-tiny;
}