// Elements
//
// Styleguide 4.0

/* purgecss start ignore */

@use '../2-tools/column-setter' as cs;

html {
  font-size: $font-root;

  @include cs.breakpoint-max(bp-s) {
    font-size: $font-root-mobile;
  }
}

body {
  @include font-setting('primary');
  color: $color-black-off;
  line-height: $line-height-s;
}

// We made some tag decisions here based on repeated overriding of browser defaults
html,
body,
dd,
dl,
div,
dt,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

// We want all of our cite elements to not be italicized
cite {
  font-style: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

// No bullets by default
ul {
  list-style: none;
}

hr {
  border: 1px solid $color-gray-light;
}

img {
  max-width: 100%;
}

figure img { 
  display: block;
}

@import 'animation';
// @import 'form';
@import 'headings';
@import 'links';

/* purgecss end ignore */
