// Links
//
// Default styles for `<a>` element.
//
// Markup: <p>This is regular text. <a href="#">This is a regular link.</a></p>
//
// Styleguide 4.1.1
//

:root {
  --color-link: #{$color-link};
  --color-link-hover: #{$color-link-hover};
  --color-link-underline: transparent;
  --color-link-underline-hover: currentColor;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--color-link-underline);
  transition: color 0.35s, text-decoration 0.35s;

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration-color: var(--color-link-underline-hover);
    transition: color 0.15s, text-decoration 0.15s;
  }

  @supports (text-decoration-skip-ink: auto) {
    text-decoration-skip-ink: auto;
  }

  u {
    text-decoration: none;
  }

  // disable link, as if no href is set
  &[aria-disabled] {
    pointer-events: none;
    cursor: default;
  }
}
