// Newsletter signup (b-newsletter-signup)
//
// Markup: 8-blocks/newsletter-signup/newsletter-signup.html
//
// Styleguide 8.1.3

.b-newsletter-signup {
  background: $color-gray-light;
  color: $color-gray-dark;
  padding: $size-xxs;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__text {
    @include font-setting('secondary');
    flex: 1 0 250px;
    margin: 10px;
  }

  &__form {
    flex: 100 0 300px;
    display: flex;
    align-items: center;
    margin: 10px;

    > .c-text-input {
      flex: 1 0 auto;
      height: 35px;
    }

    > .c-button {
      box-sizing: content-box;
      flex: 0 0 auto;
      margin-left: 10px;
      height: 35px;
      line-height: 35px;
    }
  }

  &__on-success {
    display: none;
  }
}
