// Content unit (c-content-unit)
//
// Deprecated: 
//
// .-skinny - ...
// .-tile - ...
// .-row - ...
// .-row-featured - ...
// .-event - ...
//
// Markup: 6-components/content-unit/content-unit.html
//
// Styleguide 6.1.3

.c-content-unit {
  button {
    border-color: transparent;
  }

  img {
    width: 100%;
  }

  // SKINNY //
  &.-skinny {
    max-width: 145px;
  }

  &.-skinny &__headline {
    height: auto;
    line-height: $line-height-s;
  }

  // TILE //
  &.-tile {
    img {
      width: 100%;
      object-fit: cover;

      @media (min-width: $bp-m) {
        height: 300px;
      }
    }
  }

  // EVENT //
  &.-event {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &.-event &__copy {
    flex: 1 0 200px;
  }

  &.-event p {
    margin: $size-xs 0;
  }
}
