@use '../1-settings' as *;

// COLUMN SETTER SETTINGS

// ------------------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------------------
// You can define as many (or as few) breakpoints as you like,
// and name them whatever you want. Just be sure to:
//
// 1. use the syntax shown below,
// 2. keep the breakpoints in order (smallest to largest), and
// 3. include a name (e.g. "xl"), column count ("cols",
//    unitless), and minimum width ("min-width", with units)
//    for each breakpoint
//
// All breakpoints use the same proportions specified in the
// variables above, but margin widths can be optionally
// customized for each breakpoint.

$-breakpoints: (
  bp-0: (
    cols: 4,
    min-width: 0,
    margin: 0,
  ),
  bp-xs: (
    cols: 4,
    min-width: $bp-xs,
  ),
  bp-s: (
    cols: 6,
    min-width: $bp-s,
  ),
  bp-m: (
    cols: 6,
    min-width: $bp-m,
  ),
  bp-l: (
    cols: 12,
    min-width: $bp-l,
  ),
  bp-xl: (
    cols: 12,
    min-width: $bp-xl,
  ),
  bp-xxl: (
    cols: 12,
    min-width: $bp-xxl,
  ),
  bp-default: (
    cols: 12,
    min-width: $bp-default,
  ),
);

@forward '../vendor/column-setter' with (
  $breakpoints: $-breakpoints,
  $max-width: $bp-default,
);
