// @mixin font-setting
//
// This will help us move away from silent classes for setting font-families. It still keeps our two main font-family rules in one place. <code class="ds-breathe-m">p { @include font-setting('secondary') }</code>
//
// $type = 'primary' - Version of font-setting. Options: primary | secondary
//
//
// Styleguide 2.1.1
@mixin font-setting($type: 'primary') {
  @if $type == 'primary' {
    font-family: $font-family-primary;
  }

  @if $type == 'secondary' {
    font-family: $font-family-secondary;
  }
  
  @if $type == 'sans' {
    font-family: $sans-type;
  }
  
  @if $type == 'serif' {
    font-family: $serif-type;
  }

  @if $type == 'slab' {
    font-family: $slab-type;
  }
}

// @mixin gap
//
// This is to account for the eminent deprecation of [`grid-gap`](https://developer.mozilla.org/en-US/docs/Web/CSS/gap). Some browsers honor `gap`, while others are living in the past with `grid-gap`. This keeps us working for both names. Eventually, we can remove this mixin in favor of just using gap. The new `gap` naming is introduced on Chrome 68+, Safari 11.2, Firefox 61+, and Edge 16+<br>Example: `.my-grid { @include gap($size-m) }`
//
// $size = $size-b - Size of gap
//
// Styleguide 2.1.3
//
@mixin gap($size: $size-b) {
  grid-gap: $size;
  gap: $size;
}

// @mixin box-shadow-default
//
// This is just a general purpose box-shadow, written out for easy reference. 
//
// Styleguide 2.1.4
//
@mixin box-shadow-default() {
  box-shadow: 0px 0px 3px 0px $color-box-shadow-default;
}