// Collection header (b-collection-header)
//
// Markup: 8-blocks/collection-header/collection-header.html
//
// Styleguide 8.1.3

.b-collection-header {
  background: whitesmoke;
  padding: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  &__image {
    flex: 0 0 200px;
    margin: 5px;
  }

  &__copy {
    flex: 1 0 250px;
    margin: 5px;
    text-align: center;

    > * {
      margin: 0.5rem auto;
    }
  }

  // PROFILE //
  &.-profile &__title {
    @include font-setting('primary');
    margin-bottom: 5px;
  }

  &.-profile &__subtitle {
    color: $color-gray-medium;
    font-size: $size-l;
    line-height: $line-height-s;
  }

  // TOPIC //
  &.-topic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

  &.-topic &__title {
    color: white;
  }
}
