<!-- Preview desc -->
<div class="ds-breathe-vert"><h3>Show</h3></div>
<!-- Preview desc -->
<div class="b-collection-header has-bg-white-off p-xxs">
  <div class="b-collection-header__image m-xxs">
    <img
      src="https://api.wbez.org/v2/images/446bc008-649a-4ccb-88fc-0ac3c5677a05.jpg?width=206&amp;height=206&amp;mode=FILL&amp;threshold=0"
      alt="Curious City"
    />
  </div>

  <div class="b-collection-header__copy m-xxs t-align-center">
    <h1 class="b-collection-header__title">Curious City</h1>

    <button class="c-button -round -primary">
      <i class="c-icon c-button__inner t-size-l mr-xxxs"
        ><svg aria-hidden="true"><use xlink:href="#play"></use></svg
      ></i>
      Play
    </button>

    {% set className = '-row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>

<!-- Preview desc -->
<div class="ds-breathe-vert"><h3>Author</h3></div>
<!-- Preview desc -->
<div class="b-collection-header -profile  has-bg-white-off p-xxs">
  <div class="b-collection-header__image m-xxs">
    <img src="https://via.placeholder.com/200" alt="" />
  </div>

  <div class="b-collection-header__copy m-xxs t-align-center">
    <h1 class="b-collection-header__title mb-tiny">Jane Journalist</h1>

    <div class="group">
      <p class="b-collection-header__subtitle has-text-gray-medium t-size-l">Reporter</p>
      <p><a href="#">jjournalist@wbez.org</a></p>
    </div>

    {% set className = '-row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>

<!-- Preview desc -->
<div class="ds-breathe-vert"><h3>Tag</h3></div>
<!-- Preview desc -->
<div class="b-collection-header has-bg-white-off p-xxs">
  <div class="b-collection-header__copy m-xxs t-align-center">
    <h1 class="b-collection-header__title">#rahm emanuel</h1>

    <button class="c-button -round -primary">
      <i class="c-icon c-button__inner t-size-l mr-xxxs"
        ><svg aria-hidden="true"><use xlink:href="#play"></use></svg
      ></i>
      Play
    </button>

    {% set className = '-row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>

<!-- Preview desc -->
<div class="ds-breathe-vert"><h3>Topic</h3></div>
<!-- Preview desc -->
<div
  class="b-collection-header -topic has-bg-white-off p-xxs"
  style="background-image: url(https://api.wbez.org/v2/images/0fb53179-8deb-4c34-b1f7-339ecb42bcba.jpg?width=728&amp;height=260&amp;mode=FILL&amp;threshold=0);"
>
  <div class="b-collection-header__copy m-xxs t-align-center">
    <h1 class="b-collection-header__title">Politics</h1>

    <button class="c-button -round -primary">
      <i class="c-icon c-button__inner t-size-l mr-xxxs"
        ><svg aria-hidden="true"><use xlink:href="#play"></use></svg
      ></i>
      Play
    </button>

    {% set className = '-row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>
