<!-- Preview desc -->
<div class="ds-breathe-vert">
  <h3>Show</h3>
</div>
<!-- Preview desc -->
<div class="b-collection-header">
  <div class="b-collection-header__image">
    <img
      src="https://api.wbez.org/v2/images/446bc008-649a-4ccb-88fc-0ac3c5677a05.jpg?width=206&amp;height=206&amp;mode=FILL&amp;threshold=0"
      alt="Curious City"
    />
  </div>

  <div class="b-collection-header__copy">
    <h1 class="b-collection-header__title">Curious City</h1>
  
    <button
      class="c-button c-button--round c-button--primary play_button"
    >
      <i class="wbez-sprite c-button__sprite" style="position: relative; margin-right: 10px; top: 1px;"></i>
      Play
    </button>

    {% set className = 'share-bar--row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>

<!-- Preview desc -->
<div class="ds-breathe-vert">
  <h3>Author</h3>
</div>
<!-- Preview desc -->
<div class="b-collection-header b-collection-header--profile">
  <div class="b-collection-header__image">
    <img src="https://via.placeholder.com/200" alt="Monica Eng">
  </div>

  <div class="b-collection-header__copy">
    <h1 class="b-collection-header__title">Jane Journalist</h1>

    <div class="group">
      <p class="b-collection-header__subtitle">Reporter</p>
      <p><a href="#">jjournalist@wbez.org</a></p>
    </div>

    {% set className = 'share-bar--row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>

<!-- Preview desc -->
<div class="ds-breathe-vert">
  <h3>Tag</h3>
</div>
<!-- Preview desc -->
<div class="b-collection-header b-collection-header">
  <div class="b-collection-header__copy">
    <h1 class="b-collection-header__title">#rahm emanuel</h1>
  
    <button
      class="c-button c-button--round c-button--primary play_button"
    >
      <i class="wbez-sprite c-button__sprite" style="position: relative; margin-right: 10px; top: 1px;"></i>
      Play
    </button>

    {% set className = 'share-bar--row' %}
    {% include '../../6-components/share-bar/share-bar.html' %}
  </div>
</div>
