// List (c-list)
//
// Our standard list is just plain ol' bullets. Children can be either `<li>` elements or have the class `.c-list__item`.
//
// .-compact - &nbsp;
// .-inline - To display the list inline
// .-inline-bullet - To display the list inline, with bullet separators
//
// Markup: 6-components/list/list.html
//
// Styleguide 6.1.3

.c-list {
  padding-left: $size-b;

  &__item {
    list-style: disc;
  }
}

.c-list.-compact {
  .c-list__item {
    margin-top: $size-tiny;
    margin-bottom: $size-tiny;
  }

  ol, ul, dl {
    margin-top: $size-tiny;
    margin-bottom: $size-tiny;
  }
}

.c-list.-inline {
  list-style: none;
  margin-left: -$size-tiny;
  padding-left: 0;

  .c-list__item {
    display: inline-block;
    padding-left: $size-tiny;
    padding-right: $size-tiny;
  }
}

.c-list.-inline-bullet {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: center;

  .c-list__item {
    display: inline-flex;

    &::after {
      content: '•';
      margin-left: $size-xxxs;
      margin-right: $size-xxxs;
      opacity: 0.7;
    }

    &:last-child::after {
      content: none;
    }
  }
}

.c-list li {
  @extend .c-list__item;
}
