// Article copy (article_copy)
//
// Deprecated: The .article_copy class can be extended around a group of <p> to apply our default serif prose styles.
//
// Markup: 6-components/article-copy/article-copy.html
//
//
// Styleguide 6.2.9
.article_copy {
	color: $legacy-color-dark-gray;
	font-size: 16px;
	line-height: 24px;

	img {
		max-width: 100%;
	}

    > :first-child {
        margin-top: 0;
    }

    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        margin: 20px 0;
    }
    
    > ul {
        list-style: disc;
        padding: 0 $size-b 0 3.5rem;
    
        li {
            margin-bottom: $size-b;
        }
    }
}