// Player (b-player)
//
//
// Markup: 8-blocks/player/player.html
//
// Styleguide 8.1.3

// Multiline ellipsis.
// See: https://css-tricks.com/almanac/properties/l/line-clamp/
@mixin line-clamp($lineCount: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

$b-player-color-background: $legacy-color-persistent-player-gray;
$b-player-color-text: $legacy-color-ghost-whitish;

.b-player {
  background: $b-player-color-background;
  color: $b-player-color-text;
  padding-bottom: 10px;
  width: 100%;

  a {
    color: inherit;
  }

  &__progress {
    border-radius: 0;
    width: 100%;

    // Reset the default appearance
    appearance: none;

    &::-webkit-progress-bar {
      background-color: #eee;
      border-radius: $border-radius-b;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      height: $size-tiny;
      padding: 0;
      margin: 0;
    }

    &::-webkit-progress-value {
      background-color: $color-primary;
      border-radius: $border-radius-b;
      margin: 0;
    }
  }

  &__controls {
    padding: 0 5px;
  }

  &__control {
    color: inherit;
    display: flex;
    align-items: center;

    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    &[disabled] {
      opacity: 0.5;
    }

    &--previous,
    &--next {
      display: inline-flex;
    }

    &--play {
      background: transparent;
      flex: 0 0 auto;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &__control-label {
    display: inline-block;
    @include font-setting('secondary');
    font-size: $size-xs;
    @include line-clamp($lineCount: 3);
    padding: 0 10px;
    width: 130px;

    :hover > &,
    :focus > & {
      text-decoration: underline;
    }

    [disabled] > & {
      text-decoration: none;
    }
  }

  &__main {
    display: inline-flex;
  }

  &__copy {
    padding: 0 10px;
  }

  &__text-meta {
    @include font-setting('sans');
    font-size: $size-xs;
    @include line-clamp($lineCount: 1);
    margin-bottom: $size-tiny;
  }

  &__title {
    @include line-clamp($lineCount: 2);
    font-size: $size-b;
    line-height: $line-height-s;
  }

  &__divider {
    align-self: stretch;
    background: transparentize(black, 0.5);
    margin: 0 15px;
    width: 2px;
  }
}
