// Display (d-<display>)
//
// Todo: Display this page as a table. {{isHelper}}
//
// d-block - &nbsp;
// d-inline - &nbsp;
// d-inline-block - &nbsp;
// d-flex - &nbsp;
// d-inline-flex - &nbsp;
//
// Markup: <div class="{{ className }}">Lorem ipsum dolor sit amet.</div>
//
// Styleguide 10.0.3

// stylelint-disable declaration-no-important
.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}
// stylelint-enable declaration-no-important
