// Utilities
//
// Helper overrides for various utilities. V2 will use prefixes of .l-, .has-, .is-
//
// Styleguide 10.0
@import 'color-helpers';
@import 'display';
@import 'hairline';
@import 'hidden';
@import 'notch';
@import 'screen-reader';
@import 'shadows';
@import 'spacing';
@import 'vert-bar';

// Deprecated
.has-overlay-on-hover {
  &::before {
    background: rgba(233, 234, 235, 0.2);
    content: '';
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease;
    width: 100%;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
    }
  }
}
