// Notch (has-notch)
//
// Accent element for adding separation to text.
//
// .-short -  Shorter in width and height
// .-thin -  Shorter in height. Used in footer
// .-full -  Stretches to full width
// .-w-100 - Stretches to 100px
// .-centered - Centers the notch
//
// Markup: <div class="has-notch {{ className }} has-bg-red"></div>
//
//
// Styleguide 9.0.3
//
.has-notch {
  clear: both;
  height: 5px;
  width: 40px;

  &.-short {
    height: 3px;
    width: 25px;
  }

  &.-thin {
    height: 2px;
  }

  &.-full {
    width: 100%;
  }

  &.-w-100 {
    width: 100px;
  }

  &.-centered {
    margin-left: auto;
    margin-right: auto;
  }
}
