// Margin (m<direction?>-<size>)
//
// Experimental: Bottom margin only. Opt for these instead of adding margin-bottom to a new class. (Todo: format for m and p helpers.) {{isHelper}}
//
// .has-xxxl-btm-marg -  Margin bottom with $size-xxxl
// .has-giant-btm-marg -  Margin bottom with $size-giant
// .has-xxl-btm-marg -  Margin bottom with $size-xxl
// .has-xl-btm-marg -  Margin bottom with $size-xl
// .has-l-btm-marg -  Margin bottom with $size-l
// .has-m-btm-marg -  Margin bottom with $size-m
// .has-b-btm-marg -  Margin bottom with $size-b
// .has-s-btm-marg -  Margin bottom with $size-s
// .has-xs-btm-marg -  Margin bottom with $size-xs
// .has-xxs-btm-marg -  Margin bottom with $size-xxs
// .has-xxxs-btm-marg -  Margin bottom with $size-xxxs
// .has-tiny-btm-marg -  Margin bottom with $size-tiny
//
// Markup: <ul><li class="{{ className }} margin-demo" style="border:2px solid black;">Example</li><li style="border:2px solid black;">Example</li></ul>
//
//
// Styleguide 9.0.1

// MARGIN
@each $size-name, $size-value in $size-map {
  .m-#{$size-name} {
    margin: $size-value;
  }

  .mx-#{$size-name} {
    margin-left: $size-value;
    margin-right: $size-value;
  }

  .my-#{$size-name} {
    margin-top: $size-value;
    margin-bottom: $size-value;
  }

  .mt-#{$size-name} {
    margin-top: $size-value;
  }

  .mb-#{$size-name} {
    margin-bottom: $size-value;
  }

  .ml-#{$size-name} {
    margin-left: $size-value;
  }

  .mr-#{$size-name} {
    margin-right: $size-value;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Padding (p<direction?>-<size>)
//
// Experimental: (Todo: format for m and p helpers.) {{isHelper}}
//
// Markup: <ul><li class="{{ className }} margin-demo" style="border:2px solid black;">Example</li><li style="border:2px solid black;">Example</li></ul>
//
//
// Styleguide 9.0.1

@each $size-name, $size-value in $size-map {
  .p-#{$size-name} {
    padding: $size-value;
  }

  .px-#{$size-name} {
    padding-left: $size-value;
    padding-right: $size-value;
  }

  .py-#{$size-name} {
    padding-top: $size-value;
    padding-bottom: $size-value;
  }

  .pt-#{$size-name} {
    padding-top: $size-value;
  }

  .pb-#{$size-name} {
    padding-bottom: $size-value;
  }

  .pl-#{$size-name} {
    padding-left: $size-value;
  }

  .pr-#{$size-name} {
    padding-right: $size-value;
  }
}
