// Spacing (<property><sides?>-<size>)
//
// Shorthand margin and padding utility classes, based on [Bootstrap's spacing utilities](https://getbootstrap.com/docs/4.0/utilities/spacing/). The classes are named using the format `.{property}{sides}-{size}`.
//
// Where *property* is one of:
// - `m` - for classes that set `margin`
// - `p` - for classes that set `padding`
//
// Where *sides* is one of:
// - blank - set `margin` or `padding` on all 4 sides
// - `x` - set both `*-left` and `*-right`
// - `y` - set both `*-top` and `*-bottom`
// - `t` - set `*-top`
// - `b` - set `*-bottom`
// - `r` - set `*-right`
// - `l` - set `*-left`
//
// Where *size* is one of our [size units](/pages/settings/index.html#size-units).
//
// ---
// 
// Some illustrative examples:
// ```css
// .mt-0 {
//   margin-top: 0;
// }
// ```
//
// ```css
// .mx-xs {
//   margin-left: $size-xs;
//   margin-right: $size-xs;
// }
// ```
//
// ```css
// .p-giant {
//   padding: $size-giant;
// }
// ```
//
// ---
//
// Additionally, we include an `.mx-auto` class, which is the same as `margin-left: auto; margin-right: auto;`.
//
// Styleguide 9.0.1

// MARGIN
@each $size-name, $size-value in $size-map {
  .m-#{$size-name} {
    margin: $size-value;
  }
}

@each $size-name, $size-value in $size-map {
  .mx-#{$size-name} {
    margin-left: $size-value;
    margin-right: $size-value;
  }

  .my-#{$size-name} {
    margin-top: $size-value;
    margin-bottom: $size-value;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $size-name, $size-value in $size-map {
  .mt-#{$size-name} {
    margin-top: $size-value;
  }

  .mb-#{$size-name} {
    margin-bottom: $size-value;
  }

  .ml-#{$size-name} {
    margin-left: $size-value;
  }

  .mr-#{$size-name} {
    margin-right: $size-value;
  }
}

// PADDING
@each $size-name, $size-value in $size-map {
  .p-#{$size-name} {
    padding: $size-value;
  }
}

@each $size-name, $size-value in $size-map {
  .px-#{$size-name} {
    padding-left: $size-value;
    padding-right: $size-value;
  }

  .py-#{$size-name} {
    padding-top: $size-value;
    padding-bottom: $size-value;
  }
}

@each $size-name, $size-value in $size-map {
  .pt-#{$size-name} {
    padding-top: $size-value;
  }

  .pb-#{$size-name} {
    padding-bottom: $size-value;
  }

  .pl-#{$size-name} {
    padding-left: $size-value;
  }

  .pr-#{$size-name} {
    padding-right: $size-value;
  }
}
