// Story body (c-story-body)
//
// Story bodies are a special component because we have limited control over the class names within them. We must deviate from BEM and create catch-all tag selectors to allow the greatest flexibility of the markup.
//
// Markup: 6-components/story-body/story-body.html
//
// Styleguide 6.1.3

.c-content {
  font-size: $size-b;

  .pull-right {
    @include breakpoint-max(bp-s) {
      float: none;
    }

    @include breakpoint-min(bp-s) {
      margin-left: colspan(g, 6);
      margin-top: $size-b;
      margin-bottom: $size-b;
      max-width: colspan(3, 6);
    }

    @include breakpoint-min(bp-l) {
      margin-left: colspan(g, 8);
      margin-top: $size-b;
      margin-bottom: $size-b;
      max-width: px-to-rem($bp-default * (colspan(4, 12) / 100%));
    }
  }

  .pull-left {
    @include breakpoint-max(bp-s) {
      float: none;
    }

    @include breakpoint-min(bp-s) {
      margin-right: colspan(g, 6);
      margin-top: $size-b;
      margin-bottom: $size-b;
      max-width: colspan(3, 6);
    }

    @include breakpoint-min(bp-l) {
      margin-right: colspan(g, 8);
      margin-top: $size-b;
      margin-bottom: $size-b;
      max-width: px-to-rem($bp-default * (colspan(4, 12) / 100%));
    }
  }
}

.c-content.-story {
  @extend .t-links.-story;
  @include font-setting(serif);
  max-width: $story-narrow;
  margin-left: auto;
  margin-right: auto;

  .fit-copy {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .fit-outer {
    @include breakpoint-min(bp-l) {
      margin-left: colspan(-1, 8) + colspan(g, 8) + colspan(p, 8);
      margin-right: colspan(-1, 8) + colspan(g, 8) + colspan(p, 8);
      // stylelint-disable-next-line declaration-no-important
      width: colspan(10, 8) - 2 * colspan(p, 8) !important;
    }
  }

  .pull-right {
    // pull out of story well
    @include breakpoint-min(bp-l) {
      margin-right: colspan(-1, 8) + colspan(g, 8) + colspan(p, 8);
    }
  }

  .pull-left {
    // pull out of story well
    @include breakpoint-min(bp-l) {
      margin-left: colspan(-1, 8) + colspan(g, 8) + colspan(p, 8);
    }
  }
}

.c-story-body {
  > .c-table {
    margin-top: $size-giant;
    margin-bottom: $size-xxl;
  }

  > hr {
    margin-top: $size-xxl;
    margin-bottom: $size-xxl;
    width: calc((1 - 1 / 1.6) * 100%);

    @media screen and (min-width: $story-narrow) {
      width: (1 - 1/1.6) * $story-narrow;
    }
  }
}
